.mainScreen {
  padding: 0.5em;
  height: 45em;
  width: 30em;

  overflow-y: scroll;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(123, 221, 203, 0.5);
  border-radius: 1em;
}

.mainScreen::-webkit-scrollbar {
  width: 0.5rem;
}

.mainScreen::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.messageBox input {
  line-height: 1;
  font-size: 1.5rem;
  width: 100%;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  display: flex;
  align-items: center;
}

.message p {
  max-width: 50em;
  margin-bottom: 0.3em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  position: relative;
  color: white;
  text-align: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #590995;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: #c62a88;
}

.chatUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.3em 0.75em;
}
