.prerequisites {
  margin: 1.2em 0;
  color: #590995;
}
.prerequisitesDescription {
  color: #726a95;
}
.meet {
  margin: 0.6em;
}
.nextButton {
  margin: 3em 0;
}
.stepOneDiv {
  display: flex;
}
.stepOneApplicationPage {
  padding: 2em;
}
