.updateBtn {
  background-color: #c62a88;
  border: none;
}

.purpleElements {
  color: #590995;
  border-color: #590995;
}

.greenElements {
  color: #03c4a1;
}

.friendsBoxImg {
  margin-top: 1em;
}
