.footer {
  font-family: "Acme";
  background: #590995;
  color: white;
  width: "100%";
  font-size: 1em;
  text-align: center;
  padding: 3em;
  margin-top: 6em;
}

.mainRow {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.address {
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  padding: 1em;
}

.alignCenter {
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  padding: 1em;
  width: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.iconPhone {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.iconEm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  padding: 1em;
}

.email {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  padding: 1em;
}

.footerLogo {
  width: 50%;
}

.contactFooter {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 30%;
}
